.allNews__container
  display: flex
  flex-direction: column
  align-items: center
  min-height: calc(100vh - 60px)
  margin-bottom: 45px

.allNews__title
  margin: 40px 0 15px
.allNews
  margin: 0 auto
  width: 600px
.news__post
  position: relative
  display: flex
  width: 100%
  min-height: 300px
  overflow: hidden
  margin: 35px 0
  border-radius: 60px

.newsImg
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  object-fit: cover
  filter: brightness(.4)

.newsDescription
  color: #fff
  width: 100%
  display: flex
  flex-direction: column
  z-index: 100

.news__title
  text-align: center
  align-self: center
  margin-top: 36px
  padding: 0 35px
  font-size: 18px

.newsSmallDes__text
  padding: 0 25px
  margin-top: 50px
  text-align: center

.description__btn
  cursor: pointer
  position: absolute
  bottom: 35px
  left: 45px
  color: #fff
  text-decoration-color: #fff

.postPage__container
.postPage
  position: relative
  height: 80vh
  width: 100%
  overflow: hidden

.postPage img
  position: absolute
  object-fit: cover
  object-position: 50% 50%
  width: 100%
  height: 100%
  left: 0
  top: 0
  z-index: 0
  filter: brightness(.3)

.main__title
  max-width: 1000px
  background-color: #000
  position: absolute
  top: calc( 35% - 2.25rem )
  left: 80px
  padding: 10px 20px
  font-size: 34px
  z-index: 100
  color: white

.description
  min-height: 500px
  padding: 30px 55px
  display: flex

.descriptionContent
  max-width: calc( 100% - 400px )

.post__text
  margin-top: 25px
  font-size: 18px

.userCart
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-end

.newsPost__userName
  margin: 15px 0
  font-size: 22px

