.container
  max-width: 500px
  margin: 0 auto

.settings
  text-align: center
  margin: 35px 0 25px

#demoRowRadioButtonsGroupLabel
  margin-top: 25px

.userUpdate 
  text-align: center
  margin: 35px 0 25px
